# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# env
.env
.env.local
.env.*.local

# Docker
docker-compose.override.yml

# Spring Boot application config
backend/src/main/resources/application.yaml
